body,
html {
  /*display: none;*/
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  transition: font 200ms;
  min-width: 300px;
  min-height: 400px;
}
body a,
html a {
  text-decoration: none;
}
@media screen and (max-width: 1400px) {
  body,
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 960px) {
  body .main,
  html .main {
    flex-wrap: wrap;
  }
  body .main #app-img,
  html .main #app-img {
    margin-top: 12em;
    flex-basis: 100%;
  }
  body .main #product-detail,
  html .main #product-detail {
    padding-left: 0;
    text-align: center;
  }
  body .main #product-detail .head-detail,
  html .main #product-detail .head-detail {
    align-self: center;
    margin-bottom: 1.5em;
  }
  body .main #product-detail .head-detail h1,
  html .main #product-detail .head-detail h1 {
    padding-top: .5em;
  }
  body .main #product-detail .head-detail ul,
  html .main #product-detail .head-detail ul {
    display: inline-block;
    margin: auto;
  }
}
@media screen and (max-width: 690px) {
  body,
  html {
    font-size: 10px;
  }
  body #container .header,
  html #container .header {
    top: 3%;
  }
  body #container .main #app-img,
  html #container .main #app-img {
    width: 80%;
    height: auto;
    padding: 0;
    margin-top: 6.5em;
    text-align: center;
  }
  body #container .main #app-img img,
  html #container .main #app-img img {
    width: 70%;
    height: 100%;
    margin: 0 2.5%;
  }
  body #container .main #product-detail,
  html #container .main #product-detail {
    text-align: center;
  }
  body #container .main #product-detail .head-detail,
  html #container .main #product-detail .head-detail {
    margin-bottom: 1em;
    margin-top: 0;
  }
}
@media screen and (max-width: 320px) {
  body,
  html {
    font-size: 8px;
  }
  body .main #app-img img,
  html .main #app-img img {
    width: 90%;
    height: 100%;
    margin: 0 2.5%;
  }
}
*::selection {
  color: orangered;
  background: none;
}
#container {
  height: 100%;
  width: 100%;
  min-width: 240px;
  position: relative;
}
#container .header {
  position: absolute;
  left: 15%;
  top: 5%;
  height: 5em;
  line-height: 5em;
}
#container .header img.logo {
  height: 5em;
  width: 5em;
  border-radius: 1em;
  box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
}
#container .header h1,
#container .header h2 {
  display: inline;
  color: white;
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  font-weight: 100;
  height: 5em;
  margin-left: 0.4em;
}
#container .header h1 {
  vertical-align: sub;
}
#container .header h2 {
  vertical-align: bottom;
}
#container #anitOut {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
#container #noise {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent url('/img/bgz.png') repeat left top;
  z-index: -1;
}
.main {
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}
.main #app-img {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  /* add for IE 8+  */
  padding-left: 2em;
  /* add for IE 8+  */
}
.main #app-img img {
  height: 25.5em;
  width: 45.5em;
  background-color: aliceblue;
  border-radius: .8em;
  box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.2);
  -webkit-animation: fade-in 600ms ease-in;
  -moz-animation: fade-in 600ms ease-in;
  animation: fade-in 600ms ease-in;
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-2em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-2em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-2em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.main #product-detail {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-left: 3em;
  max-width: 40em;
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  font-weight: 100;
  color: white;
  position: relative;
}
.main #product-detail .head-detail {
  margin-bottom: 3.5em;
  margin-top: 1.5em;
  text-shadow: 1px 1px 2px black;
  align-self: flex-start;
  -webkit-animation: fade-in-r 600ms ease-in;
  -moz-animation: fade-in-r 600ms ease-in;
  animation: fade-in-r 600ms ease-in;
}
@-moz-keyframes fade-in-r {
  0% {
    opacity: 0;
    transform: translateX(2em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-in-r {
  0% {
    opacity: 0;
    transform: translateX(2em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-r {
  0% {
    opacity: 0;
    transform: translateX(2em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.main #product-detail .head-detail h1 {
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  font-size: 3.6em;
  font-weight: 400;
  margin: 0 0 0.1em;
}
.main #product-detail .head-detail h2 {
  font-size: 2.5em;
  font-weight: 400;
  margin-top: 0;
}
.main #product-detail .head-detail ul li {
  list-style: none;
  position: relative;
  margin-bottom: 10px;
  font-size: 1.5em;
}
.main #product-detail .head-detail ul li:before {
  content: "";
  line-height: 1.3em;
  height: 1em;
  width: 1em;
  border-radius: 0.8em;
  background-color: #15bbf9;
  display: inline-block;
  position: absolute;
  left: -1.5em;
  top: 0.1em;
}
.main #product-detail .download-block {
  padding-bottom: 1.3em;
  white-space: nowrap;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.main #product-detail .download-block a.down-button {
  color: white;
  border: 0;
  border-radius: 3em;
  vertical-align: middle;
  padding: .4em 0;
  text-align: center;
  width: 10em;
  display: inline-block;
  font-size: 2.2em;
  font-weight: 100;
  background-color: #15bbf9;
  -webkit-transition: all 300ms;
  -moz-transition: all  300ms;
  transition: all 300ms;
  cursor: pointer;
}
.main #product-detail .download-block a.down-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #15bbf9;
}
.main #product-detail .download-block .update-detail {
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  font-size: 1em;
  font-weight: 100;
  margin-top: 1.3em;
  padding-bottom: 1.3em;
  text-align: center;
  flex-basis: 40%;
}
.main #product-detail .download-block .update-detail span {
  display: block;
  font-weight: 500;
}
.clearfix::after {
  display: table;
  clear: both;
  content: "";
}
/**
 * This is less function construct a animation key frame
*/
/*# sourceMappingURL=muiltTriangle.css.map */